.header_back{
  
}

.col-md-6{
  color: grey;
  font-size: 1800px;
}

p{
  color: yellow;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 50px auto auto auto;
  padding: 8px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.avatar-img {
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
  border-radius: 50%;
  margin: auto auto auto auto;
}

.button-img {
  color: transparent;
  max-width: 30px;
  max-height: 30px;
  padding: 3px;
  border-radius: 50%;
  margin: auto auto auto auto;
}

.central-text {
    padding: 3px;
    text-align: center;
    margin: auto auto auto auto;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.invisible-change-button-div {
}

.invisible-change-button {
  display: none;
}

.invisible-change-button-div:hover .invisible-change-button {
  all: unset;
  outline: 0;
}
