<div class="header_back">
	<span class="item header_logo">
    <a href="{{url_for('my')}}"><span class="before">VENI</span><span class="after">MY PAGE</span></a>
	</span>
	<span class="header_logo item">
     <a href="{{url_for('listFamilies')}}"><span class="before">VIDI</span><span class="after"> ALL FAMILIES</span></a>
	</span>
	<span class="header_logo item">
     <a href="{{url_for('main')}}"><span class="before ">AMAVI</span><span class="after">MAIN</span></a>
	</span>
	<span>
		<div class="dropdown">
 			<button class="dropbtn">by <span class="droptxt"> Family</span></button>
  			<div class="dropdown-content">
    			<a href="#">by <span class="droptxt">Profession</span></a>
    			<a href="#">by <span class="droptxt">Life</span></a>
  			</div>
		</div>
	</span>
</div>
